section#hero div.fondo video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Quicksand:wght@300&display=swap");
body,
p,
a,
button {
  font-family: "Quicksand", sans-serif;
}
body{
  background-color: green;
}
h1,
h2,
h3,
h4 {
  font-family: "Fredoka One", cursive;
}

* {
  box-sizing: border-box;
}

.nombre h3{
  background-color: lawngreen
}
.nombre2 h3{
  background-color: orange;
}
.nombre3 h3{
  background-color: red;
}

/*---------------------------------------
 FOOTER              
-----------------------------------------*/
footer {
  background: #252020;
  padding: 40px 0;
  }
  #footer{
    text-align: center;
  }
  footer .section-title {
  padding-bottom: 10px;
  }
  footer h2 {
  font-size: 20px;
  }
  footer a,
  footer p {
  color: #909090;
  }
  footer strong {
  color: #d9d9d9;
  }
  footer address p {
  margin-bottom: 0;
  }
  footer .social-icon {
  margin-top: 25px;
  }
  .footer-info {
  margin-right: 2em;
  }
  .footer-info h2 {
  color: #ffffff;
  padding: 0;
  }
  .footer_menu h2 {
  margin-top: 2em;
  }
  .footer_menu ul {
  margin: 0;
  padding: 0;
  }
  .footer_menu li {
  display: inline-block;
  list-style: none;
  margin: 5px 10px 5px 0;
  }
html {
  scroll-behavior: smooth;
}

main {
  position: relative;
}

nav.menu {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  z-index: 99;
  padding: 0;
  margin: 0;
}
nav.menu > ul:last-child ul.submenu {
  right: 0;
}
nav.menu > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  z-index: 1;
}
nav.menu > ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav.menu > ul li ul.submenu {
  background-color: gray;
  position: absolute;
  display: none;
  padding: 0;
  margin: 0;
}
nav.menu > ul li ul.submenu li {
  list-style: none;
  margin: 0;
}
nav.menu > ul li ul.submenu li a {
  padding: 1rem;
}
nav.menu > ul li:hover ul.submenu {
  display: block;
}
nav.menu > ul li ul.submenu.full-width {
  left: 0;
  right: 0;
}
nav.menu > ul li:hover ul.submenu.full-width {
  display: flex;
}
nav.menu a {
  text-decoration: none;
  margin-left: 1rem;
  margin-right: 1rem;
}
nav.menu a:not(:has(img)) {
  display: inline-block;
  padding: 0.5rem;
  color: white;
  transition: all 1s;
}
nav.menu a:not(:has(img)):hover {
  background-color: white;
  color: red;
}

aside.menu-offcanvas {
  background-color: black;
  color: white;
  width: 10rem;
  padding: 1rem;
  margin: 0;
  position: fixed;
  top: 100vh;
  bottom: 0;
  left: -12rem;
  transition: all 0.5s;
  z-index: 9;
}
aside.menu-offcanvas button {
  position: absolute;
  top: -2rem;
  right: -4rem;
  display: block;
  font-size: 18px;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border: solid 1px black;
  border-radius: 50%;
}
aside.menu-offcanvas.on {
  left: 0;
  top: 0;
}
aside.menu-offcanvas.on button {
  top: 25px;
  right: 25px;
  color: white;
  border-color: white;
}
aside.menu-offcanvas > h3 {
  margin: 2rem 0 0 0;
  padding: 0.3rem 1rem;
  color: gray;
}
aside.menu-offcanvas section:has(li:hover) h3 {
  color: white;
  text-shadow: 0 0 3px white;
}
aside.menu-offcanvas ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
aside.menu-offcanvas ul li {
  margin: 0;
  padding: 0.3rem 1rem;
}
aside.menu-offcanvas ul li:hover {
  text-shadow: 0 0 5px white;
}

div:has(div.modal) {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(204, 204, 204, 0.5333333333);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  opacity: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
  padding: 0;
}
div:has(div.modal):has(div.modal.show) {
  opacity: 1;
  z-index: 1;
}
div:has(div.modal) div.modal {
  width: 25rem;
  padding: 0;
  border-radius: 2px;
  background-color: bisque;
  box-shadow: 0 0 3px black;
}
div:has(div.modal) div.modal header {
  padding: 1rem;
  border-bottom: solid 1px black;
  text-align: center;
}
div:has(div.modal) div.modal main {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
div:has(div.modal) div.modal footer {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

section#hero {
  height: calc(100vh - 5rem);
}
section#hero div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3725490196);
  height: calc(100vh - 5rem);
  padding: 0;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
section#hero div.fondo {
  background-image: url("../img/fantasy.jpg");
  z-index: -1;
}
section#hero div.fondo video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
section#hero * {
  margin: 0;
}
section#hero h1,
section#hero p,
section#hero a {
  color: white;
  padding: 0.5rem;
}
section#hero h1 {
  font-size: 4rem;
  text-shadow: 0 0 3px black;
}
section#hero p {
  font-size: 2rem;
  text-shadow: 0 0 3px black;
}
section#hero a {
  text-decoration: none;
  font-size: 1.6rem;
  border: solid 2px white;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 98%);
  transition: background-image 0.3s;
}
section#hero a:hover {
  color: white;
  background-color: #9599E2;
  background-image: linear-gradient(135deg, #9599E2 0%, #8BC6EC 98%);
}

section#galeria {
  text-align: center;
  padding: min(3rem, 30px);
  min-height: 100vh;
}
section#galeria div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
section#galeria div figure {
  width: 300px;
  max-width: 300px;
  transition: all 0.3s;
  padding: 20px;
}
section#galeria div figure picture img {
  max-width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
section#galeria div figure:hover {
  background-color: white;
  padding: 0;
}


main section:not([id]) {
  padding: 2rem 10rem;
  font-size: clamp(14px, 2vw, 32px);
  text-align: center;
}

section#peliculas {
  text-align: center;
  min-height: 100vh;
}
section#peliculas div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
section#peliculas div div.pelicula {
  border: solid;
  margin: 1rem;
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "img titulo" "img autor" "img desc";
}
section#peliculas div div.pelicula * {
  margin: 0;
  padding: 0;
}
section#peliculas div div.pelicula img {
  height: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  grid-area: img;
}
section#peliculas div div.pelicula h4 {
  grid-area: titulo;
}
section#peliculas div div.pelicula p.autor {
  grid-area: autor;
}
section#peliculas div div.pelicula p.desc {
  grid-area: desc;
  font-size: 0.7rem;
}/*# sourceMappingURL=style.css.map */
