section#hero div.fondo video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Quicksand:wght@300&display=swap");
body,
p,
a,
button {
  font-family: "Quicksand", sans-serif;
}
button {
  background-color: #2a9b46;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 14px;
  padding: 10px 25px;
}

table, th, td {
  border:1px solid black;
  text-align: center;
}

.modal-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;  
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
}

.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  background-color: #fff;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal h1 {
  margin: 0;
}

.modal p {
  opacity: 0.7;
  font-size: 14px;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: blue;
}

body{
  background-image: linear-gradient(120deg,#96e6a1  0%,  #d4fc79 100%);
}
  
h1,
h2,
h3,
h4 {
  font-family: "Fredoka One", cursive;
}

img{
  border: 5px solid black;
}

* {
  box-sizing: border-box;
}

.nombre h3{
  background-color: lawngreen
}
.nombre2 h3{
  background-color: orange;
}
.nombre3 h3{
  background-color: red;
}
section#sobrenosotros {
  text-align: center;
  padding: min(3rem, 30px);
  min-height: 100vh;
}
section#sobrenosotros div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
section#sobrenosotros div figure {
  width: 300px;
  max-width: 300px;
  transition: all 0.3s;
  padding: 20px;
}
section#sobrenosotros div figure picture img {
  max-width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
/*---------------------------------------
 FOOTER              
-----------------------------------------*/
footer {
  background: rgb(2, 49, 0);
  padding: 40px 0;
  }
  #footer{
    text-align: center;
  }
  footer .section-title {
  padding-bottom: 10px;
  }
  footer h2 {
  font-size: 20px;
  }
  footer a,
  footer p {
  color: #909090;
  }
  footer strong {
  color: #d9d9d9;
  }
  footer address p {
  margin-bottom: 0;
  }
  footer .social-icon {
  margin-top: 25px;
  }
  .footer-info {
  margin-right: 2em;
  }
  .footer-info h2 {
  color: #ffffff;
  padding: 0;
  }
  .footer_menu h2 {
  margin-top: 2em;
  }
  .footer_menu ul {
  margin: 0;
  padding: 0;
  }
  .footer_menu li {
  display: inline-block;
  list-style: none;
  margin: 5px 10px 5px 0;
  }
html {
  scroll-behavior: smooth;
}

main {
  position: relative;
}

nav.menu {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  z-index: 99;
  padding: 0;
  margin: 0;
}
nav.menu > ul:last-child ul.submenu {
  right: 0;
}
nav.menu > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  z-index: 1;
}
nav.menu > ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav.menu > ul li ul.submenu {
  background-color: gray;
  position: absolute;
  display: none;
  padding: 0;
  margin: 0;
}
nav.menu > ul li ul.submenu li {
  list-style: none;
  margin: 0;
}
nav.menu > ul li ul.submenu li a {
  padding: 1rem;
}
nav.menu > ul li:hover ul.submenu {
  display: block;
}
nav.menu > ul li ul.submenu.full-width {
  left: 0;
  right: 0;
}
nav.menu > ul li:hover ul.submenu.full-width {
  display: flex;
}
nav.menu a {
  text-decoration: none;
  margin-left: 1rem;
  margin-right: 1rem;
}
nav.menu a:not(:has(img)) {
  display: inline-block;
  padding: 0.5rem;
  color: white;
  transition: all 1s;
}

nav.menu a:not(:has(img)):hover {
  color: lawngreen;
}





section#hero {
  height: calc(100vh - 5rem);
}
section#hero div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3725490196);
  height: calc(100vh - 5rem);
  padding: 0;

}

section#hero div.fondo video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
section#hero * {
  margin: 0;
}
section#hero h1,
section#hero p,
section#hero a {
  color: white;
  padding: 0.5rem;
}
section#hero h1 {
  font-size: 4rem;
  text-shadow: 0 0 3px black;
}
section#hero p {
  font-size: 2rem;
  text-shadow: 0 0 3px black;
}
section#hero a {
  text-decoration: none;
  font-size: 1.6rem;
  border: solid 2px white;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 98%);
  transition: background-image 0.3s;
}
section#hero a:hover {
  color: white;
  background-color: #9599E2;
  background-image: linear-gradient(135deg, #9599E2 0%, #8BC6EC 98%);
}

section#galeria {
  text-align: center;
  padding: min(3rem, 30px);
  min-height: 100vh;
}
section#galeria div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
section#galeria div figure {
  width: 300px;
  max-width: 300px;
  transition: all 0.3s;
  padding: 20px;
}
section#galeria div figure picture img {
  max-width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
section#galeria div figure:hover {
  background-color: white;
  padding: 0;
}


main section:not([id]) {
  padding: 2rem 10rem;
  font-size: clamp(14px, 2vw, 32px);
  text-align: center;
}

section#peliculas {
  text-align: center;
  min-height: 100vh;
}
section#peliculas div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
section#peliculas div div.pelicula {
  border: solid;
  margin: 1rem;
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "img titulo" "img autor" "img desc";
}
section#peliculas div div.pelicula * {
  margin: 0;
  padding: 0;
}
section#peliculas div div.pelicula img {
  height: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  grid-area: img;
}
section#peliculas div div.pelicula h4 {
  grid-area: titulo;
}
section#peliculas div div.pelicula p.autor {
  grid-area: autor;
}
section#peliculas div div.pelicula p.desc {
  grid-area: desc;
  font-size: 0.7rem;
}/*# sourceMappingURL=style.css.map */
